@media screen and (max-width: 520px) and (min-width: 319px){
    .head-item-1,
    .head-item-2,
    .head-item-3,
    .head-item-4{
        padding-left: 10px;
    }
    .sidebar{
        width: 100px;
        padding: 10px;
    }
    .content.expand{
        margin-left: 0px;
    }
    .content{
        margin-left: 8px;
        padding: 8px;
    }
}