body{
    margin: 0;
    border: border-box;
    font-family: Arial, sans-serif;
}

/* TOP HEADER */
.header{
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: #0b5fa4;
    padding: 10px 15px;
}
.header a{
    text-decoration: none;
    color: white;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.head-item-1,
.head-item-2,
.head-item-3,
.head-item-4{
    padding-left: 40px;
}

/* 3-LINE BUTTON */
.menu-btn{
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.ceter{
    display: flex;
    flex-direction: row;
}
/* SIDEBAR */
.sidebar{
    width: 220px;
    height: 386px;
    background-color: #0b5fa4;
    padding: 20px;
    color: white;
}
.sidebar a{
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: white;
}

/* MAIN CONTENT */
.content{
    height: 386px;
    margin-left: 40px;
    padding: 20px;
}

/* SIDEBAR COLLAPSED */
.sidebar.collapsed{
    width: 0;
    padding: 0;
    overflow: hidden;
}

.content.expand{
    margin-left: 20px;
}

/* FOOTER */
.footer{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: #0b5fa4;
    padding: 10px;
}
.footer-item{
    color: white;
}
